@keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #050a19;
  overflow: hidden;

}

  .background-dark {
      background-color: var(--primaryDark);
  }

.background span {
  width: 40vmin;
  height: 40vmin;
  border-radius: 50vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.background span:nth-child(1) {
  color: #02142c;
  top: 99%;
  left: 37%;
  animation-duration: 32s;
  animation-delay: -164s;
  transform-origin: -22vw -6vh;
  box-shadow: -100vmin 0 12.74177723344392vmin currentColor;
}

.background span:nth-child(2) {
  color: #02142c;
  top: 94%;
  left: 84%;
  animation-duration: 326s;
  animation-delay: -36s;
  transform-origin: -2vw 5vh;
  box-shadow: 100vmin 0 12.924439377764246vmin currentColor;
}

.background span:nth-child(3) {
  color: #02142c;
  top: 76%;
  left: 81%;
  animation-duration: 314s;
  animation-delay: -239s;
  transform-origin: 11vw -21vh;
  box-shadow: 100vmin 0 12.778409598745554vmin currentColor;
}

.background span:nth-child(4) {
  color: #02142c;
  top: 4%;
  left: 86%;
  animation-duration: 42s;
  animation-delay: -59s;
  transform-origin: -21vw 12vh;
  box-shadow: -100vmin 0 12.92580005762563vmin currentColor;
}

.background span:nth-child(5) {
  color: #02142c;
  top: 65%;
  left: 3%;
  animation-duration: 68s;
  animation-delay: -337s;
  transform-origin: -23vw 12vh;
  box-shadow: 100vmin 0 12.930450298324187vmin currentColor;
}

.background span:nth-child(6) {
  color: #02142c;
  top: 17%;
  left: 59%;
  animation-duration: 162s;
  animation-delay: -71s;
  transform-origin: 16vw 14vh;
  box-shadow: 100vmin 0 13.409636603262694vmin currentColor;
}

.background span:nth-child(7) {
  color: #02142c;
  top: 89%;
  left: 88%;
  animation-duration: 321s;
  animation-delay: -5s;
  transform-origin: 8vw -5vh;
  box-shadow: 100vmin 0 12.51291258485875vmin currentColor;
}

.background span:nth-child(8) {
  color: #02142c;
  top: 97%;
  left: 27%;
  animation-duration: 215s;
  animation-delay: -155s;
  transform-origin: -20vw -19vh;
  box-shadow: -100vmin 0 12.681259172438686vmin currentColor;
}