.custom-scroll {
    scrollbar-width: thin;
    scrollbar-color: #0b0b33 #03474c;
  
    &::-webkit-scrollbar {
      width: 8px;
    }
  
    &::-webkit-scrollbar-track {
      background-color: #f3f4f6;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #06042b;
  
      &:hover {
        background-color: #555555;
      }
    }
  }
  